.tree-nav {
  width: 25rem;
  height: 100%;
  padding: 1rem 0;
  font-size: 2rem;
  border: .1rem solid #000000;
  border-top-left-radius: .5px;
  border-bottom-left-radius: .5px;
  ul {
    padding: 0 1rem;
    li {
      margin: 1rem .5rem;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
}